In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
path = "https://tennis-data-wta-atp.s3-us-west-2.amazonaws.com/wta/2019.xlsx"
df = pd.read_excel(path)

In [47]:
df = df.iloc[:, :24 ]

In [48]:
df.isna().count()

WTA           2472
Location      2472
Tournament    2472
Date          2472
Tier          2472
Court         2472
Surface       2472
Round         2472
Best of       2472
Winner        2472
Loser         2472
WRank         2472
LRank         2472
WPts          2472
LPts          2472
W1            2472
L1            2472
W2            2472
L2            2472
W3            2472
L3            2472
Wsets         2472
Lsets         2472
Comment       2472
dtype: int64

In [49]:
df[["W3", "L3"]] = df[["W3", "L3"]].fillna(999)
df.head()

,WTA,Location,Tournament,Date,Tier,Court,Surface,Round,Best of,Winner,...,LPts,W1,L1,W2,L2,W3,L3,Wsets,Lsets,Comment
0,1,Auckland,ASB Classic,2018-12-31,International,Outdoor,Hard,1st Round,3,Puig M.,...,109.0,6.0,3.0,6.0,2.0,999.0,999.0,2.0,0.0,Completed
1,1,Auckland,ASB Classic,2018-12-31,International,Outdoor,Hard,1st Round,3,Davis L.,...,731.0,6.0,2.0,6.0,2.0,999.0,999.0,2.0,0.0,Completed
2,1,Auckland,ASB Classic,2018-12-31,International,Outdoor,Hard,1st Round,3,Kuzmova V.,...,752.0,6.0,2.0,7.0,6.0,999.0,999.0,2.0,0.0,Completed
3,1,Auckland,ASB Classic,2018-12-31,International,Outdoor,Hard,1st Round,3,Bouchard E.,...,676.0,6.0,3.0,6.0,3.0,999.0,999.0,2.0,0.0,Completed
4,1,Auckland,ASB Classic,2018-12-31,International,Outdoor,Hard,1st Round,3,Sorribes Tormo S.,...,727.0,7.0,5.0,6.0,3.0,999.0,999.0,2.0,0.0,Completed

In [50]:
df.describe()

,WTA,Best of,WRank,LRank,WPts,LPts,W1,L1,W2,L2,W3,L3,Wsets,Lsets
count,2472.000000,2472.0,2467.000000,2464.000000,2467.000000,2464.000000,2461.000000,2461.000000,2436.000000,2436.000000,2472.000000,2472.000000,2461.000000,2461.000000
mean,28.205097,3.0,60.526956,87.114448,1835.471828,1309.684253,5.661113,3.724502,5.660509,3.550082,649.580502,648.509304,1.956115,0.355547
std,15.761283,0.0,61.607287,92.788851,1578.040833,1240.746874,1.333339,1.922187,1.360674,1.935181,474.249386,475.704158,0.243000,0.478776
min,1.000000,3.0,1.000000,1.000000,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
25%,14.000000,3.0,19.000000,34.000000,735.000000,573.000000,6.000000,2.000000,6.000000,2.000000,6.000000,4.000000,2.000000,0.000000
50%,27.000000,3.0,46.000000,65.000000,1166.000000,884.500000,6.000000,4.000000,6.000000,3.000000,999.000000,999.000000,2.000000,0.000000
75%,42.000000,3.0,81.000000,109.000000,2471.500000,1514.250000,6.000000,6.000000,6.000000,5.000000,999.000000,999.000000,2.000000,1.000000
max,58.000000,3.0,674.000000,1876.000000,6871.000000,6970.000000,7.000000,7.000000,7.000000,7.000000,999.000000,999.000000,2.000000,1.000000

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2472 entries, 0 to 2471
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WTA         2472 non-null   int64
 1   Location    2472 non-null   object
 2   Tournament  2472 non-null   object
 3   Date        2472 non-null   datetime64[ns]
 4   Tier        2472 non-null   object
 5   Court       2472 non-null   object
 6   Surface     2472 non-null   object
 7   Round       2472 non-null   object
 8   Best of     2472 non-null   int64
 9   Winner      2472 non-null   object
 10  Loser       2472 non-null   object
 11  WRank       2467 non-null   float64
 12  LRank       2464 non-null   float64
 13  WPts        2467 non-null   float64
 14  LPts        2464 non-null   float64
 15  W1          2461 non-null   float64
 16  L1          2461 non-null   float64
 17  W2          2436 non-null   float64
 18  L2          2436 non-null   float64
 19  W3          2472 non-null   float64
 20  L3          2472 non-null   float64
 21  Wsets       2461 non-null   float64
 22  Lsets       2461 non-null   float64
 23  Comment     2472 non-null   object
dtypes: datetime64[ns](1), float64(12), int64(2), object(9)
memory usage: 463.6+ KB

In [52]:
df = pd.get_dummies(df, columns=["Location", "Round","Tournament","Tier","Court","Surface","Comment"])

In [53]:
df.isna().count()

WTA                  2472
Date                 2472
Best of              2472
Winner               2472
Loser                2472
                     ...
Surface_Grass        2472
Surface_Hard         2472
Comment_Completed    2472
Comment_Retired      2472
Comment_Walkover     2472
Length: 151, dtype: int64

In [54]:
df.describe()

,WTA,Best of,WRank,LRank,WPts,LPts,W1,L1,W2,L2,...,Tier_Premier,Tier_Tour Championships,Court_Indoor,Court_Outdoor,Surface_Clay,Surface_Grass,Surface_Hard,Comment_Completed,Comment_Retired,Comment_Walkover
count,2472.000000,2472.0,2467.000000,2464.000000,2467.000000,2464.000000,2461.000000,2461.000000,2436.000000,2436.000000,...,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000
mean,28.205097,3.0,60.526956,87.114448,1835.471828,1309.684253,5.661113,3.724502,5.660509,3.550082,...,0.372573,0.012136,0.082524,0.917476,0.282767,0.123786,0.593447,0.960356,0.035599,0.004045
std,15.761283,0.0,61.607287,92.788851,1578.040833,1240.746874,1.333339,1.922187,1.360674,1.935181,...,0.483588,0.109515,0.275217,0.275217,0.450435,0.329404,0.491289,0.195161,0.185325,0.063487
min,1.000000,3.0,1.000000,1.000000,18.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,14.000000,3.0,19.000000,34.000000,735.000000,573.000000,6.000000,2.000000,6.000000,2.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,27.000000,3.0,46.000000,65.000000,1166.000000,884.500000,6.000000,4.000000,6.000000,3.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,42.000000,3.0,81.000000,109.000000,2471.500000,1514.250000,6.000000,6.000000,6.000000,5.000000,...,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,58.000000,3.0,674.000000,1876.000000,6871.000000,6970.000000,7.000000,7.000000,7.000000,7.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [55]:
df.head()

,WTA,Date,Best of,Winner,Loser,WRank,LRank,WPts,LPts,W1,...,Tier_Premier,Tier_Tour Championships,Court_Indoor,Court_Outdoor,Surface_Clay,Surface_Grass,Surface_Hard,Comment_Completed,Comment_Retired,Comment_Walkover
0,1,2018-12-31,3,Puig M.,Mattek-Sands B.,53.0,350.0,1010.0,109.0,6.0,...,0,0,0,1,0,0,1,1,0,0
1,1,2018-12-31,3,Davis L.,Arruabarrena L.,173.0,82.0,340.0,731.0,6.0,...,0,0,0,1,0,0,1,1,0,0
2,1,2018-12-31,3,Kuzmova V.,Zidansek T.,50.0,79.0,1052.0,752.0,6.0,...,0,0,0,1,0,0,1,1,0,0
3,1,2018-12-31,3,Bouchard E.,Brengle M.,87.0,88.0,692.0,676.0,6.0,...,0,0,0,1,0,0,1,1,0,0
4,1,2018-12-31,3,Sorribes Tormo S.,Voegele S.,86.0,83.0,700.0,727.0,7.0,...,0,0,0,1,0,0,1,1,0,0

In [58]:
set(list(df.columns))

{'Best of',
 'Comment_Completed',
 'Comment_Retired',
 'Comment_Walkover',
 'Court_Indoor',
 'Court_Outdoor',
 'Date',
 'L1',
 'L2',
 'L3',
 'LPts',
 'LRank',
 "Location_'s-Hertogenbosch",
 'Location_Acapulco',
 'Location_Auckland',
 'Location_Beijing',
 'Location_Birmingham',
 'Location_Bogota',
 'Location_Brisbane',
 'Location_Bucharest',
 'Location_Budapest',
 'Location_Charleston',
 'Location_Cincinnati',
 'Location_Doha',
 'Location_Dubai',
 'Location_Eastbourne',
 'Location_Guangzhou',
 'Location_Hiroshima',
 'Location_Hobart',
 'Location_Hua Hin',
 'Location_Indian Wells',
 'Location_Istanbul',
 'Location_Jurmala',
 'Location_Lausanne',
 'Location_Linz',
 'Location_London',
 'Location_Lugano',
 'Location_Luxembourg',
 'Location_Madrid',
 'Location_Mallorca',
 'Location_Melbourne',
 'Location_Miami',
 'Location_Monterrey',
 'Location_Moscow',
 'Location_Nanchang',
 'Location_New York',
 'Location_Nottingham',
 'Location_NÃ¼rnberg',
 'Location_Osaka',
 'Location_Palermo',
 'Location_Paris',
 'Location_Prague',
 'Location_Rabat',
 'Location_Rome',
 'Location_San Jose',
 'Location_Seoul',
 'Location_Shenzhen',
 'Location_St. Petersburg',
 'Location_Strasbourg',
 'Location_Stuttgart',
 'Location_Sydney',
 'Location_Tashkent',
 'Location_Tianjin',
 'Location_Toronto',
 'Location_Washington',
 'Location_Wuhan',
 'Location_Zhengzhou',
 'Location_Zhuhai',
 'Loser',
 'Lsets',
 'Round_1st Round',
 'Round_2nd Round',
 'Round_3rd Round',
 'Round_4th Round',
 'Round_Quarterfinals',
 'Round_Round Robin',
 'Round_Semifinals',
 'Round_The Final',
 'Surface_Clay',
 'Surface_Grass',
 'Surface_Hard',
 'Tier_Grand Slam',
 'Tier_International',
 'Tier_Premier',
 'Tier_Tour Championships',
 'Tournament_ASB Classic',
 'Tournament_Abierto Mexicano',
 'Tournament_Australian Open',
 'Tournament_BGL BNP Paribas Luxembourg Open',
 'Tournament_BNP Paribas Open',
 'Tournament_Baltic Open',
 'Tournament_Birmingham Classic ',
 'Tournament_Brisbane International',
 'Tournament_Bronx Open',
 'Tournament_Bucharest Open',
 'Tournament_China Open',
 'Tournament_Citi Open',
 'Tournament_Copa Claro Colsanitas',
 'Tournament_Dubai Duty Free Tennis Championships',
 'Tournament_Eastbourne International',
 'Tournament_Family Circle Cup',
 'Tournament_French Open',
 'Tournament_Generali Ladies Linz',
 'Tournament_Grand Prix SAR Lalla Meryem',
 'Tournament_Guangzhou Open',
 'Tournament_Hobart International',
 'Tournament_Hungarian Ladies Open',
 'Tournament_Internationaux de Strasbourg',
 "Tournament_Internazionali BNL d'Italia",
 'Tournament_Internazionali Femminili di Palermo',
 'Tournament_Istanbul Cup',
 'Tournament_J&T Banka Prague Open',
 "Tournament_Japan Women's Tennis Open",
 "Tournament_Jiangxi Women's Tennis Open",
 'Tournament_Korea Open',
 'Tournament_Kremlin Cup',
 'Tournament_Ladies Open Lausanne',
 'Tournament_Ladies Trophy',
 'Tournament_Mallorca Open',
 'Tournament_Monterrey Open',
 'Tournament_Mubadala Silicon Valley Classic',
 'Tournament_Mutua Madrid Open',
 'Tournament_Nottingham Open',
 'Tournament_NÃ¼rnberger Versicherungscup',
 'Tournament_Porsche Tennis Grand Prix',
 'Tournament_Qatar Total Open',
 'Tournament_Rogers Cup',
 'Tournament_Rosmalen Grass Court Championships',
 'Tournament_Samsung Open',
 'Tournament_Shenzhen Open',
 'Tournament_Sony Ericsson Open',
 'Tournament_Sydney International',
 'Tournament_Tashkent Open',
 'Tournament_Thailand Open',
 'Tournament_Tianjin Open',
 'Tournament_Toray Pan Pacific Open Tennis Tournament',
 'Tournament_US Open',
 'Tournament_WTA Elite Trophy',
 'Tournament_WTA Finals',
 "Tournament_Western & Southern Financial Group Women's Open",
 'Tournament_Wimbledon',
 'Tournament_Wuhan Open',
 'Tournament_Zhengzhou Open',
 'W1',
 'W2',
 'W3',
 'WPts',
 'WRank',
 'WTA',
 'Winner',
 'Wsets'}